body {
    font-family: Arial, sans-serif;
    background-image: url('/static/background.jpg'); /* Путь к фоновому изображению */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1% 100%;
    text-align: center;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.calculate-button {
    background-color: #ED8400;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.contact-form-section {
    padding: 7% 10%;
    background-color: #57545450;
    text-align: center;
}

.contact-form-section h2 {
    margin-bottom: 20px;
}

.contact-form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-section label {
    margin-bottom: 5px;
    font-size: 16px;
}

.contact-form-section input, .contact-form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form-section button {
    padding: 10px 20px;
    background-color: #ED8400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.park-section {
    padding: 20px;
    text-align: center;
}

.park-section h2 {
    margin-bottom: 20px;
}

.park-section .call-button {
    padding: 10px 20px;
    background-color: #ED8400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
}
.container2 {
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: auto;
    text-align: center;
    
    margin: 20px 0;
}
.container3 {
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    

    margin: 40px 0px;
}
.container3.img:not(.img){
    padding: 100px;
    max-width: 10px;
}
h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-bottom: 20px;
}

.project, .project-details, .request-form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-text, .project-details-text {
    flex: 1;
    width: auto;
    text-align: left;
}

.project-image, .project-details-image {
    flex: 1;
    text-align: right;
}

.project h2, .project-details h2, .request-form h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.project p, .project-details ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.project-details ul {
    list-style-type: disc;
    margin-left: 20px;
}

.request-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.request-form input, .request-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.request-form button {
    padding: 10px 18px;
    background-color: #ED8400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.request-form button:hover {
    background-color: #0056b3;
}

.project-image img, .project-details-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.equipment-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.equipment-item {
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #666;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.orange-square {
    background-color: #ED8400;
    color: #fff;
}

.equipment-details {
    text-align: left;
    margin-top: 20px;
}

.equipment-details h2 {
    font-size: 20px;
    color: #333;
}

.equipment-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.equipment-details h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.equipment-details ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #666;
}

.equipment-details ul li {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ED8400;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.orange-strip {
    background-color: #ff6600; /* Оранжевый цвет */
    height: 3px; /* Уменьшенная высота полосы */
    width: 10%; /* Ширина полосы */
    margin: 0;
    padding: 0;
}

.services, .advantages, .intro, .about-us {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-list, .advantage-list, .service-images, .company-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.service-item, .advantage-item, .info-item {
    margin: auto;
    text-align: center;
}

.call-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ED8400;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.call-button:hover {
    background-color: #0056b3;
}

.advantages {
    padding: 120px 20px; /* Увеличиваем отступ сверху и снизу */
    background-color: rgba(233, 233, 233, 0.9); /* Полупрозрачный фон для текста */
    text-align: center;
}

.advantages h1 {
    margin-top: 20px; /* Добавляем отступ сверху для заголовка */
    margin-bottom: 20px; /* Уменьшаем отступ снизу для заголовка */
}

.why-work-with-us {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px; /* Добавляем отступ снизу */
}

.orange-strip-container {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
    height: 20px; /* Высота контейнера для полосы */
    width: auto;
    width: 100%;
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px; /* Добавляем отступ сверху */
}

.advantage-item {
    background-color: #ff6600; /* Оранжевый цвет */
    color: white; /* Белый текст */
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage-item h2 {
    margin-top: 0;
}

/* Медиа-запросы для адаптации под разные разрешения */
@media (max-width: 1920px) {
    .advantage-item {
        width: 300px;
    }
}
@media (max-width: 1024px) {
    .advantage-item {
        width: 250px;
    }
}
@media (max-width: 768px) {
    .advantage-item {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .advantage-item {
        width: 100%;
    }
}
@media (max-width: 320px) {
    .advantage-item {
        width: 100%;
    }
}

.intro {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.intro h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.intro p {
    color: #666;
    line-height: 1.6;
}

.services {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.service-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculate-cost {
    text-align: center;
    margin-top: 20px;
}

.calculate-cost button {
    background-color: #ED8400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.calculate-cost button:hover {
    background-color: #0056b3;
}

.service-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.service-images img {
    width: 48%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us {
    
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.company-info {
    display: flex;

    justify-content: center;
    
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.company-info img {
    width: 45%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img{
    max-width: auto;
}
.container2.project-text{
    width: auto;
}